:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
}
body {
  font-family:"Open Sans" , sans-serif;
  margin: 0;
  font-family: "El Messiri", serif;
  font-style: normal;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
/* End gpld ross  */
.page {
min-height: 100vh;
background-color: #f1f5f9;
display: flex;
position: relative;
} 
/* Start hover + sidber  */
.page .hover {
 position: absolute;
display: none;
}
.page .hover  img  {
border: 1px solid black;
border-radius: 50%;
width: 36px;
height: 36px;
margin-top: 10px;
margin-right: 10px;
overflow: hidden;
position: relative;
z-index: 101;
}
@media (max-width: 767px){
.page .hover {
    display: block;
}
.page .hover:hover .sidebar {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 5px);
  right:0;
}
}
.sidebar {
width: 180px;
padding: 10px;
opacity: 0;
position: absolute;
z-index: -1;
transition: 0.2s;
background-color: white;
box-shadow: 0 0 15px #ddd;
top: -50%;
right: -50%;
}

.sidebar > h3 {
position: relative;
text-align: center;
margin-top: 8px;
font-size: 13px;
margin-bottom: 50px;
}
.sidebar > h3::before ,
  .sidebar > h3::after {
      content: "";
      background-color: black;
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
  }
  .sidebar > h3::before {
      bottom: -20px;
      width:60%;
      height: 2px;
  }
  .sidebar > h3::after {
          height: 12px;
          width: 12px;
          bottom: -29px;
          border: 4px solid white;
          border-radius: 50%;
  }
.sidebar ul li a {
display: flex;
align-items: center;
font-size: 14px;
color: black;
border-radius: 10px;
padding: 10px;
transition: 0.3s;
margin-bottom: 5px;
}
.sidebar ul li a:hover, 
.sidebar ul li .active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-right: 10px;
}
/* End hover + sidber  */
/* Start sidebar-min  */
.sidebar-min {
padding: 20px;
width: 250px;
box-shadow: 0 0 10px #ddd;
background-color: white;
}
.sidebar-min > h3 {
position: relative;
text-align: center;
margin-top: 8px;
margin-bottom:  50px;
}
.sidebar-min > h3::before ,
  .sidebar-min > h3::after {
      content: "";
      background-color: black;
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
  }
  .sidebar-min > h3::before {
      bottom: -20px;
      width:100%;
      height: 2px;
  }
  .sidebar-min > h3::after {
          height: 12px;
          width: 12px;
          bottom: -29px;
          border: 4px solid white;
          border-radius: 50%;
  }
.sidebar-min ul li a {
display: flex;
align-items: center;
font-size: 14px;
color: black;
border-radius: 10px;
padding: 10px;
transition: 0.3s;
margin-bottom: 5px;
}
.sidebar-min ul li a:hover, 
.sidebar-min ul li .active {
  background-color: #f6f6f6;
}
.sidebar-min ul li a span {
  font-size: 14px;
  margin-right: 10px;
}
@media (max-width: 767px){
.sidebar-min {
  display: none;
}  
}
  
/* End sidebar  */
.content {
  overflow: hidden;
  
  width: 100%;
}
/* Start Head  */

.head {
  background-color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.head .search {
position: relative;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input {
padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px 0;
  width: 160px;
  margin-right: 5px;
  padding-right: 30px;
  transition: width 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .icons {
display: flex;
align-items: center;
  flex-direction: row-reverse;
}
.head .icons img {
width: 32px;
height: 32px;
margin-left: 15px;
border-radius: 50%;
display: none;
}
.head .icons span {
position: relative;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  left: -4px;
  top: -5px;
}

@media(max-width:767px) {
  .head {
    padding: 10px;
  }
  .head .search input{
      width: 140px;
  }
  .head .search input:focus {
      width: 150px;
  }
  .head .icons {
  margin-right: 50px;

  }
}
@media(min-width:768px) {
.head .icons img {
display: block;
}
}
/* End Head  */
/* Start Content  */

.page h1 {
  margin: 20px 20px 40px;
  position: relative;
}
.page h1::before, .page h1::after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  right: 0;
}
.page h1::after {
  background-color: white;
  width: 120px;
}
.page h1::before {
  background-color: black;
  width: 40px;
  z-index: 1;
}

.wrapper {
display: grid;
gap: 20px;
  grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
  margin-left: 20px;
  margin-right: 20px;
}
@media(max-width:767px) {
  .wrapper {
      grid-template-columns: minmax(200px , 1fr);
      margin-left: 5px;
      margin-right: 5px;
      gap: 5px;
  }
}
/* End Content  */

/* Start Profile Page */
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
  }
}
.profile-page .avatar-box {
  width: 300px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
.profile-page .avatar-box > img {
  width: 120px;
  height: 120px;
}
.profile-page .avatar-box .level {
  height: 6px;
  overflow: hidden;
  margin: auto;
  width: 70%;
}
.profile-page .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 6px;
}
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}
.profile-page .info-box h4 {
  font-weight: normal;
}
/* Start Training Code */
.profile-page .info-box .toggle-switch {
  height: 20px;
}
@media (max-width: 767px) {
  .profile-page .info-box .toggle-switch {
    margin: auto;
  }
}
.profile-page .info-box .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}
/* End Training Code */
@media (max-width: 767px) {
  .profile-page .other-data {
    flex-direction: column;
  }
}
.profile-page .skills-card {
  flex-grow: 1;
}
.profile-page .skills-card ul li {
  padding: 15px 0;
}
.profile-page .skills-card ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li span {
  display: inline-flex;
  padding: 4px 10px;
  background-color: #eee;
  border-radius: 6px;
  font-size: 14px;
}
.profile-page .skills-card ul li span:not(:last-child) {
  margin-right: 5px;
}
.profile-page .activities {
  flex-grow: 2;
}
.profile-page .activity:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.profile-page .activity img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .profile-page .activity .date {
    margin-left: auto;
    text-align: right;
  }
}
@media (max-width: 767px) {
  .profile-page .activity {
    flex-direction: column;
  }
  .profile-page .activity img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .profile-page .activity .date {
    margin-top: 15px;
  }
}
/* End Profile Page */


